In [1]:
from gssutils import *
from requests import Session
from cachecontrol import CacheControl
from cachecontrol.caches.file_cache import FileCache
from cachecontrol.heuristics import ExpiresAfter

scraper = Scraper('https://statswales.gov.wales/Catalogue/Housing/Social-Housing-Vacancies/'
                  'vacancies-by-area-availability-duration',
                  session=CacheControl(Session(),
                                       cache=FileCache('.cache'),
                                       heuristic=ExpiresAfter(days=7)))
scraper

WARNING:http://open.statswales.gov.wales/en-gb/discover/metadata?$filter=Dataset eq 'hous1401' does not look like a valid URI, trying to serialize this will break.
WARNING:http://open.statswales.gov.wales/en-gb/discover/datasetdimensions?$filter=Dataset eq 'hous1401' does not look like a valid URI, trying to serialize this will break.
WARNING:http://open.statswales.gov.wales/en-gb/discover/datasetdimensionitems?$filter=Dataset eq 'hous1401' does not look like a valid URI, trying to serialize this will break.

## Social housing vacancies

The information presented here covers the number of vacancies within housing stock held by Local Authorities and Registered Social Landlords. The information is collected via new annual returns from Welsh social landlords in order to monitor trends over time in the proportion of housing stock which is vacant. Vacant dwellings includes:1.)Dwellings undergoing or awaiting major capital works repair, conversion or improvement;2.)Vacant dwellings that have formal approval for sale or demolition only if they are still part of HRA (Housing Revenue Account) dwellings;3.)All vacant dwellings to be sold whether awaiting sale or undergoing repair prior to being sold; 4.)Vacant dwellings subject to demolition or closing orders or acquired for demolition under Part VI or IX of the Housing Act 1985. The information presented here excludes vacant dwellings where an offer of tenancy has been accepted even if no rent is being paid at the end of the financial year.

### Distributions

1. Metadata ([application/json](http://open.statswales.gov.wales/en-gb/discover/metadata?$filter=Dataset eq 'hous1401'))
1. Dimensions ([application/json](http://open.statswales.gov.wales/en-gb/discover/datasetdimensions?$filter=Dataset eq 'hous1401'))
1. Items ([application/json](http://open.statswales.gov.wales/en-gb/discover/datasetdimensionitems?$filter=Dataset eq 'hous1401'))
1. Dataset ([application/json](http://open.statswales.gov.wales/dataset/hous1401))

In [2]:
if len(scraper.distributions) == 0:
    from gssutils.metadata import Distribution
    dist = Distribution(scraper)
    dist.title = 'Dataset'
    dist.downloadURL = 'http://open.statswales.gov.wales/dataset/hous1401'
    dist.mediaType = 'application/json'
    scraper.distributions.append(dist)
table = scraper.distribution(title='Dataset').as_pandas()
table

WARNING:Cache entry deserialization failed, entry ignored
WARNING:Cache entry deserialization failed, entry ignored
WARNING:Cache entry deserialization failed, entry ignored
WARNING:Cache entry deserialization failed, entry ignored
WARNING:Cache entry deserialization failed, entry ignored

,Area_AltCode1,Area_Code,Area_Hierarchy,Area_ItemName_ENG,Area_SortOrder,Availability_Code,Availability_Hierarchy,Availability_ItemName_ENG,Availability_SortOrder,Data,...,RowKey,Vacancy_Code,Vacancy_Hierarchy,Vacancy_ItemName_ENG,Vacancy_ItemNotes_ENG,Vacancy_SortOrder,Year_Code,Year_ItemName_ENG,Year_ItemNotes_ENG,Year_SortOrder
0,W06000016,540,600,Rhondda Cynon Taf,17,1,3,Available for letting,2,-1,...,15882,6.0,0,Total,,1,200506,2005-06,,67
1,W06000021,548,600,Monmouthshire,22,1,3,Available for letting,2,-2,...,18539,6.0,0,Total,,1,200102,2001-02,,63
2,W06000022,550,600,Newport,23,2,3,Not available for letting,3,-8,...,18714,6.0,0,Total,,1,200506,2005-06,,67
3,W06000004,518,600,Denbighshire,5,1,3,Available for letting,2,-999,...,2414,6.0,0,Total,,1,200506,2005-06,,67
4,W06000013,536,600,Bridgend,14,2,3,Not available for letting,3,-999,...,13936,6.0,0,Total,,1,200708,2007-08,,69
5,W06000013,536,600,Bridgend,14,1,3,Available for letting,2,-999,...,13937,6.0,0,Total,,1,200708,2007-08,,69
6,W06000013,536,600,Bridgend,14,2,3,Not available for letting,3,-999,...,13939,6.0,0,Total,,1,200708,2007-08,,69
7,W06000013,536,600,Bridgend,14,1,3,Available for letting,2,-999,...,13940,6.0,0,Total,,1,200708,2007-08,,69
8,W06000013,536,600,Bridgend,14,1,3,Available for letting,2,-999,...,13941,6.0,0,Total,,1,200607,2006-07,,68
9,W06000013,536,600,Bridgend,14,2,3,Not available for letting,3,-999,...,13942,6.0,0,Total,,1,200607,2006-07,,68
10,W06000013,536,600,Bridgend,14,2,3,Not available for letting,3,-999,...,13945,6.0,0,Total,,1,200607,2006-07,,68
11,W06000013,536,600,Bridgend,14,1,3,Available for letting,2,-999,...,13958,6.0,0,Total,,1,200607,2006-07,,68
12,W06000013,536,600,Bridgend,14,2,3,Not available for letting,3,-999,...,13959,6.0,0,Total,,1,200506,2005-06,,67
13,W06000013,536,600,Bridgend,14,1,3,Available for letting,2,-999,...,13968,6.0,0,Total,,1,200506,2005-06,,67
14,W06000013,536,600,Bridgend,14,2,3,Not available for letting,3,-999,...,13969,6.0,0,Total,,1,200506,2005-06,,67
15,W06000013,536,600,Bridgend,14,1,3,Available for letting,2,-999,...,13971,6.0,0,Total,,1,200506,2005-06,,67
16,W06000016,540,600,Rhondda Cynon Taf,17,2,3,Not available for letting,3,-999,...,15840,6.0,0,Total,,1,200708,2007-08,,69
17,W06000016,540,600,Rhondda Cynon Taf,17,1,3,Available for letting,2,-999,...,15846,6.0,0,Total,,1,200708,2007-08,,69
18,W06000016,540,600,Rhondda Cynon Taf,17,2,3,Not available for letting,3,-999,...,15868,6.0,0,Total,,1,200708,2007-08,,69
19,W06000016,540,600,Rhondda Cynon Taf,17,1,3,Available for letting,2,-999,...,15876,6.0,0,Total,,1,200708,2007-08,,69
20,W06000019,545,600,Blaenau Gwent,20,1,3,Available for letting,2,-999,...,17825,6.0,0,Total,,1,200506,2005-06,,67
21,W06000020,546,600,Torfaen,21,1,3,Available for letting,2,-999,...,18252,6.0,0,Total,,1,200708,2007-08,,69
22,W06000020,546,600,Torfaen,21,2,3,Not available for letting,3,-999,...,18257,6.0,0,Total,,1,200708,2007-08,,69
23,W06000020,546,600,Torfaen,21,1,3,Available for letting,2,-999,...,18274,6.0,0,Total,,1,200708,2007-08,,69
24,W06000020,546,600,Torfaen,21,2,3,Not available for letting,3,-999,...,18275,6.0,0,Total,,1,200708,2007-08,,69
25,W06000021,548,600,Monmouthshire,22,2,3,Not available for letting,3,-999,...,18471,6.0,0,Total,,1,200708,2007-08,,69
26,W06000021,548,600,Monmouthshire,22,2,3,Not available for letting,3,-999,...,18472,6.0,0,Total,,1,200708,2007-08,,69
27,W06000021,548,600,Monmouthshire,22,1,3,Available for letting,2,-999,...,18474,6.0,0,Total,,1,200708,2007-08,,69
28,W06000021,548,600,Monmouthshire,22,1,3,Available for letting,2,-999,...,18477,6.0,0,Total,,1,200708,2007-08,,69
29,W06000001,512,600,Isle of Anglesey,2,3,0,Total,1,0,...,0,2.2,5,Self-contained other supported (2011-12 onward...,2011-12 onwards only,6,201415,2014-15,,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271875,W06000013,536,600,Bridgend,14,3,0,Total,1,99,...,62174,5.0,6,All self-contained,,3,201718,2017-18,,79
271876,W06000019,545,600,Blaenau Gwent,20,3,0,Total,1,99,...,63045,5.0,6,All self-contained,,3,201112,2011-12,,73
271877,W06000019,545,600,Blaenau Gwent,20,3,0,Total,1,99,...,63120,2.1,5,Self-contained sheltered (2011-12 onwards only),2011-12 onwards only,5,201112,2011-12,,73
271878,W06000019,545,600,Blaenau Gwent,20,3,0,Total,1,99,...,63191,6.0,0,Total,,1,201112,2011-12,,73
271879,W06000016,540,600,Rhondda Cynon Taf,17,2,3,Not available for letting,3,99,...,63281,2.0,5,Self-contained sheltered and other supported (...,,7,201112,2011-12,,73
271880,W06000016,540,600,Rhondda Cynon Taf,17,2,3,Not available for letting,3,99,...,63289,2.1,5,Self-contained sheltered (2011-12 onwards only),2011-12 onwards only,5,201112,2011-12,,73
271881,W06000012,534,600,Neath Port Talbot,13,1,3,Available for letting,2,99,...,64365,5.0,6,All self-contained,,3,200910,2009-10,,71
271882,W06000014,538,600,Vale of Glamorgan,15,1,3,Available for letting,2,99,...,64411,6.0,0,Total,,1,200910,2009-10,,71
271883,W06000012,534,600,Neath Port Talbot,13,1,3,Available for letting,2,99,...,64483,1.0,5,Self-contained general needs,,4,200910,2009-10,,71
271884,W92000004,600,0,Wales,1,3,0,Total,1,99,...,141319,6.0,0,Total,,1,201617,2016-17,,78
271885,W06000011,532,600,Swansea,12,3,0,Total,1,99,...,143672,6.0,0,Total,,1,200102,2001-02,,63
271886,W92000004,600,0,Wales,1,3,0,Total,1,99,...,146236,6.0,0,Total,,1,201516,2015-16,,77
271887,W92000004,600,0,Wales,1,3,0,Total,1,99,...,214388,6.0,0,Total,,1,201415,2014-15,,76
271888,W92000004,600,0,Wales,1,3,0,Total,1,99,...,214413,5.0,6,All self-contained,,3,201415,2014-15,,76
271889,W92000004,600,0,Wales,1,3,0,Total,1,99,...,238113,5.0,6,All self-contained,,3,201112,2011-12,,73
271890,W92000004,600,0,Wales,1,3,0,Total,1,99,...,238115,6.0,0,Total,,1,201112,2011-12,,73
271891,W06000016,540,600,Rhondda Cynon Taf,17,3,0,Total,1,99,...,239242,6.0,0,Total,,1,201112,2011-12,,73
271892,W06000016,540,600,Rhondda Cynon Taf,17,3,0,Total,1,99,...,239251,5.0,6,All self-contained,,3,201112,2011-12,,73
271893,W92000004,600,0,Wales,1,1,3,Available for letting,2,99,...,247672,6.0,0,Total,,1,201314,2013-14,,75
271894,W06000022,550,600,Newport,23,1,3,Available for letting,2,99,...,248232,6.0,0,Total,,1,201314,2013-14,,75
271895,W92000004,600,0,Wales,1,3,0,Total,1,99,...,248415,1.0,5,Self-contained general needs,,4,201516,2015-16,,77
271896,W06000022,550,600,Newport,23,3,0,Total,1,99,...,248799,1.0,5,Self-contained general needs,,4,201516,2015-16,,77
271897,W92000004,600,0,Wales,1,2,3,Not available for letting,3,99,...,254789,5.0,6,All self-contained,,3,201617,2016-17,,78
271898,W06000012,534,600,Neath Port Talbot,13,2,3,Not available for letting,3,99,...,255338,5.0,6,All self-contained,,3,201617,2016-17,,78
271899,W06000016,540,600,Rhondda Cynon Taf,17,3,0,Total,1,991,...,55348,6.0,0,Total,,1,200304,2003-04,,65
271900,W92000004,600,0,Wales,1,1,3,Available for letting,2,992,...,33096,1.0,5,Self-contained general needs,,4,201516,2015-16,,77
271901,W92000004,600,0,Wales,1,2,3,Not available for letting,3,994,...,48123,1.0,5,Self-contained general needs,,4,201415,2014-15,,76
271902,W92000004,600,0,Wales,1,2,3,Not available for letting,3,994,...,60028,6.0,0,Total,,1,201213,2012-13,,74
271903,W92000004,600,0,Wales,1,2,3,Not available for letting,3,996,...,48236,1.0,5,Self-contained general needs,,4,201718,2017-18,,79
271904,W92000004,600,0,Wales,1,2,3,Not available for letting,3,998,...,21117,6.0,0,Total,,1,201314,2013-14,,75

In [3]:
table.columns

Index(['Area_AltCode1', 'Area_Code', 'Area_Hierarchy', 'Area_ItemName_ENG',
       'Area_SortOrder', 'Availability_Code', 'Availability_Hierarchy',
       'Availability_ItemName_ENG', 'Availability_SortOrder', 'Data',
       'Duration_Code', 'Duration_Hierarchy', 'Duration_ItemName_ENG',
       'Duration_ItemNotes_ENG', 'Duration_SortOrder', 'PartitionKey',
       'Provider_Code', 'Provider_Hierarchy', 'Provider_ItemName_ENG',
       'Provider_ItemNotes_ENG', 'Provider_SortOrder', 'RowKey',
       'Vacancy_Code', 'Vacancy_Hierarchy', 'Vacancy_ItemName_ENG',
       'Vacancy_ItemNotes_ENG', 'Vacancy_SortOrder', 'Year_Code',
       'Year_ItemName_ENG', 'Year_ItemNotes_ENG', 'Year_SortOrder'],
      dtype='object')

StatsWales uses labels (ItemName_ENG) and notations (Code) for concepts, as well as alternative notations (AltCodeN) where appropriate. We'll use these codes for concepts specific to StatsWales, and for others we'll try to harmonise via labels.

In [4]:
cols = {
    'Area_AltCode1': 'Geography',
    'Availability_Code': 'Availability',
    'Data': 'Value',
    'Duration_Code': 'Vacancy length', # existing component
    'Provider_Code': 'Provider',
    'Vacancy_Code': 'Vacancy type',
    'Year_Code': 'Period'
}
to_remove = set(table.columns) - set(cols.keys())
table.rename(columns=cols, inplace=True)
table.drop(columns=to_remove, inplace=True)
table

,Geography,Availability,Value,Vacancy length,Provider,Vacancy type,Period
0,W06000016,1,-1,1,540,6.0,200506
1,W06000021,1,-2,1,548,6.0,200102
2,W06000022,2,-8,1,550,6.0,200506
3,W06000004,1,-999,2,518,6.0,200506
4,W06000013,2,-999,2,536,6.0,200708
5,W06000013,1,-999,2,536,6.0,200708
6,W06000013,2,-999,1,536,6.0,200708
7,W06000013,1,-999,1,536,6.0,200708
8,W06000013,1,-999,1,536,6.0,200607
9,W06000013,2,-999,1,536,6.0,200607
10,W06000013,2,-999,2,536,6.0,200607
11,W06000013,1,-999,2,536,6.0,200607
12,W06000013,2,-999,2,536,6.0,200506
13,W06000013,1,-999,1,536,6.0,200506
14,W06000013,2,-999,1,536,6.0,200506
15,W06000013,1,-999,2,536,6.0,200506
16,W06000016,2,-999,2,540,6.0,200708
17,W06000016,1,-999,2,540,6.0,200708
18,W06000016,2,-999,1,540,6.0,200708
19,W06000016,1,-999,1,540,6.0,200708
20,W06000019,1,-999,2,545,6.0,200506
21,W06000020,1,-999,2,546,6.0,200708
22,W06000020,2,-999,2,546,6.0,200708
23,W06000020,1,-999,1,546,6.0,200708
24,W06000020,2,-999,1,546,6.0,200708
25,W06000021,2,-999,2,548,6.0,200708
26,W06000021,2,-999,1,548,6.0,200708
27,W06000021,1,-999,1,548,6.0,200708
28,W06000021,1,-999,2,548,6.0,200708
29,W06000001,3,0,1,512,2.2,201415
...,...,...,...,...,...,...,...
271875,W06000013,3,99,3,600,5.0,201718
271876,W06000019,3,99,2,600,5.0,201112
271877,W06000019,3,99,3,600,2.1,201112
271878,W06000019,3,99,2,600,6.0,201112
271879,W06000016,2,99,2,600,2.0,201112
271880,W06000016,2,99,2,600,2.1,201112
271881,W06000012,1,99,1,600,5.0,200910
271882,W06000014,1,99,3,600,6.0,200910
271883,W06000012,1,99,3,600,1.0,200910
271884,W92000004,3,99,3,940,6.0,201617
271885,W06000011,3,99,3,940,6.0,200102
271886,W92000004,3,99,1,940,6.0,201516
271887,W92000004,3,99,3,995,6.0,201415
271888,W92000004,3,99,3,995,5.0,201415
271889,W92000004,3,99,1,1021,5.0,201112
271890,W92000004,3,99,1,1021,6.0,201112
271891,W06000016,3,99,1,1021,6.0,201112
271892,W06000016,3,99,1,1021,5.0,201112
271893,W92000004,1,99,3,1027,6.0,201314
271894,W06000022,1,99,3,1027,6.0,201314
271895,W92000004,3,99,3,1027,1.0,201516
271896,W06000022,3,99,3,1027,1.0,201516
271897,W92000004,2,99,2,1032,5.0,201617
271898,W06000012,2,99,2,1032,5.0,201617
271899,W06000016,3,991,3,600,6.0,200304
271900,W92000004,1,992,3,592,1.0,201516
271901,W92000004,2,994,1,600,1.0,201415
271902,W92000004,2,994,1,600,6.0,201213
271903,W92000004,2,996,1,600,1.0,201718
271904,W92000004,2,998,3,592,6.0,201314

The OData API offers an "Items" endpoint that enumerates the values of the various dimensions and provides information about the hierarchy.

In [5]:
try:
    items_dist = scraper.distribution(title='Items')
except:
    from gssutils.metadata import Distribution
    dist = Distribution(scraper)
    dist.title = 'Items'
    dist.downloadURL = 'http://open.statswales.gov.wales/en-gb/discover/datasetdimensionitems?$filter=Dataset%20eq%20%27hous1401%27'
    dist.mediaType = 'application/json'
    scraper.distributions.append(dist)
    items_dist = scraper.distribution(title='Items')
items = items_dist.as_pandas()
items

,AltCode1,AltCode2,AltCode3,Code,Dataset,Description_ENG,DimensionName_ENG,Hierarchy,Notes_ENG,SemanticKey,SortOrder
0,,,,2.1,hous1401,Self-contained sheltered (2011-12 onwards only),Vacancy,5,NaN,,NaN
1,,,,2.2,hous1401,Self-contained other supported (2011-12 onward...,Vacancy,5,NaN,,NaN
2,,,,983.0,hous1401,Abbeyfield Wales,Provider,3000,NaN,,NaN
3,,,,980.0,hous1401,Slocombe Cottages for the Aged and Infirm,Provider,3001,NaN,,NaN
4,,,,1024.0,hous1401,Coastal Housing Group,Provider,592,NaN,,NaN
5,,,,930.0,hous1401,Cynon Taf Housing Association,Provider,592,NaN,,NaN
6,,,,1021.0,hous1401,Trivallis,Provider,592,NaN,,NaN
7,,,,925.0,hous1401,Grwp Cynefin,Provider,592,NaN,,NaN
8,,,,1020.0,hous1401,Melin Homes,Provider,592,NaN,,NaN
9,,,,1032.0,hous1401,NPT Homes,Provider,592,NaN,,NaN
10,,,,1023.0,hous1401,Monmouthshire Housing,Provider,592,NaN,,NaN
11,,,,988.0,hous1401,Swansea Housing Association,Provider,592,NaN,,NaN
12,,,,1028.0,hous1401,Merthyr Valleys Homes,Provider,592,NaN,,NaN
13,,,,1022.0,hous1401,Cynon-Taf Community Housing Group,Provider,592,NaN,,NaN
14,,,,1029.0,hous1401,Tai Ceredigion,Provider,592,NaN,,NaN
15,,,,1031.0,hous1401,Tai Calon Community Housing,Provider,592,NaN,,NaN
16,,,,1012.0,hous1401,Valleys to Coast Housing,Provider,592,NaN,,NaN
17,,,,971.0,hous1401,Pontypridd and District Housing Association,Provider,592,NaN,,NaN
18,,,,1027.0,hous1401,Newport City Homes,Provider,592,NaN,,NaN
19,,,,1030.0,hous1401,Cartrefi Cymunedol Gwynedd,Provider,592,NaN,,NaN
20,,,,1026.0,hous1401,Cartrefi Conwy,Provider,592,NaN,,NaN
21,,,,945.0,hous1401,Fairlake Living,Provider,592,NaN,,NaN
22,,,,1025.0,hous1401,Bron Afon Community Housing,Provider,592,NaN,,NaN
23,,,,992.0,hous1401,Gofal a Chymorth Gwalia,Provider,592,NaN,,NaN
24,,,,928.0,hous1401,Cymdeithas Tai Eryri,Provider,592,NaN,,NaN
25,,,,937.0,hous1401,Linc Cymru,Provider,592,NaN,,NaN
26,,,,927.0,hous1401,Dewi Sant Housing Association,Provider,592,NaN,,NaN
27,,,,1007.0,hous1401,Derwen,Provider,592,NaN,,NaN
28,,,,1034.0,hous1401,Pobl Living,Provider,592,NaN,,NaN
29,,,,946.0,hous1401,Gwerin (Cymru) Housing Association,Provider,592,NaN,,NaN
...,...,...,...,...,...,...,...,...,...,...,...
168,,,,2.0,hous1401,Self-contained sheltered and other supported (...,Vacancy,5,NaN,,NaN
169,,,,3.0,hous1401,Self-contained extra care,Vacancy,5,NaN,,NaN
170,,,,4.0,hous1401,Non self-contained,Vacancy,6,NaN,,NaN
171,,,,5.0,hous1401,All self-contained,Vacancy,6,NaN,,NaN
172,,,,6.0,hous1401,Total,Vacancy,,NaN,,NaN
173,,,,1.0,hous1401,Vacant for less than 6 months,Duration,3,NaN,,NaN
174,,,,2.0,hous1401,Vacant for 6 months or more,Duration,3,NaN,,NaN
175,,,,3.0,hous1401,Total,Duration,,NaN,,NaN
176,,,,199697.0,hous1401,1996-97,Year,,NaN,,NaN
177,,,,199798.0,hous1401,1997-98,Year,,NaN,,NaN
178,,,,199899.0,hous1401,1998-99,Year,,NaN,,NaN
179,,,,199900.0,hous1401,1999-00,Year,,NaN,,NaN
180,,,,200001.0,hous1401,2000-01,Year,,NaN,,NaN
181,,,,200102.0,hous1401,2001-02,Year,,NaN,,NaN
182,,,,200203.0,hous1401,2002-03,Year,,NaN,,NaN
183,,,,200304.0,hous1401,2003-04,Year,,NaN,,NaN
184,,,,200405.0,hous1401,2004-05,Year,,NaN,,NaN
185,,,,200506.0,hous1401,2005-06,Year,,NaN,,NaN
186,,,,200607.0,hous1401,2006-07,Year,,NaN,,NaN
187,,,,200708.0,hous1401,2007-08,Year,,NaN,,NaN
188,,,,200809.0,hous1401,2008-09,Year,,NaN,,NaN
189,,,,200910.0,hous1401,2009-10,Year,,NaN,,NaN
190,,,,201011.0,hous1401,2010-11,Year,,NaN,,NaN
191,,,,201112.0,hous1401,2011-12,Year,,NaN,,NaN
192,,,,201213.0,hous1401,2012-13,Year,,NaN,,NaN
193,,,,201314.0,hous1401,2013-14,Year,,NaN,,NaN
194,,,,201415.0,hous1401,2014-15,Year,,NaN,,NaN
195,,,,201516.0,hous1401,2015-16,Year,,NaN,,NaN
196,,,,201617.0,hous1401,2016-17,Year,,NaN,,NaN
197,,,,201718.0,hous1401,2017-18,Year,,NaN,,NaN

In [6]:
from collections import OrderedDict
item_cols = OrderedDict([
    ('Description_ENG', 'Label'),
    ('Code', 'Notation'),
    ('Hierarchy', 'Parent Notation'),
    ('SortOrder', 'Sort Priority')
])

def extract_codelist(dimension):
    codelist = items[items['DimensionName_ENG'] == dimension].rename(
        columns=item_cols).drop(
        columns=set(items.columns) - set(item_cols.keys()))[list(item_cols.values())]
    codelist['Notation'] = codelist['Notation'].map(
        lambda x: str(int(x)) if str(x).endswith(".0") else str(x)
    )
    return codelist

codelists = {
    'vacancies': extract_codelist('Vacancy'),
    'providers': extract_codelist('Provider'),
    'availability': extract_codelist('Availability'),
    'durations': extract_codelist('Duration')
}

out = Path('out')
out.mkdir(exist_ok=True, parents=True)

for name, codelist in codelists.items():
    codelist.to_csv(out / f'{name}.csv', index = False)
    display(name)
    display(codelist)

'vacancies'

,Label,Notation,Parent Notation,Sort Priority
0,Self-contained sheltered (2011-12 onwards only),2.1,5,NaN
1,Self-contained other supported (2011-12 onward...,2.2,5,NaN
167,Self-contained general needs,1,5,NaN
168,Self-contained sheltered and other supported (...,2,5,NaN
169,Self-contained extra care,3,5,NaN
170,Non self-contained,4,6,NaN
171,All self-contained,5,6,NaN
172,Total,6,,NaN

'providers'

,Label,Notation,Parent Notation,Sort Priority
2,Abbeyfield Wales,983,3000,NaN
3,Slocombe Cottages for the Aged and Infirm,980,3001,NaN
4,Coastal Housing Group,1024,592,NaN
5,Cynon Taf Housing Association,930,592,NaN
6,Trivallis,1021,592,NaN
7,Grwp Cynefin,925,592,NaN
8,Melin Homes,1020,592,NaN
9,NPT Homes,1032,592,NaN
10,Monmouthshire Housing,1023,592,NaN
11,Swansea Housing Association,988,592,NaN
12,Merthyr Valleys Homes,1028,592,NaN
13,Cynon-Taf Community Housing Group,1022,592,NaN
14,Tai Ceredigion,1029,592,NaN
15,Tai Calon Community Housing,1031,592,NaN
16,Valleys to Coast Housing,1012,592,NaN
17,Pontypridd and District Housing Association,971,592,NaN
18,Newport City Homes,1027,592,NaN
19,Cartrefi Cymunedol Gwynedd,1030,592,NaN
20,Cartrefi Conwy,1026,592,NaN
21,Fairlake Living,945,592,NaN
22,Bron Afon Community Housing,1025,592,NaN
23,Gofal a Chymorth Gwalia,992,592,NaN
24,Cymdeithas Tai Eryri,928,592,NaN
25,Linc Cymru,937,592,NaN
26,Dewi Sant Housing Association,927,592,NaN
27,Derwen,1007,592,NaN
28,Pobl Living,1034,592,NaN
29,Gwerin (Cymru) Housing Association,946,592,NaN
30,Torfaen,546,596,NaN
31,Blaenau Gwent,545,596,NaN
...,...,...,...,...
137,Cymdeithas Tai Cymdogaeth Gwalia,926,592,NaN
138,Hafan Cymru,929,592,NaN
139,Family Housing Association (Wales),934,592,NaN
140,Abbeyfield Flint,935,3000,NaN
141,First Choice Housing Association,936,592,NaN
142,Gwalia Rest Bay (Co-Ownership Equity Sharing) ...,943,592,NaN
143,Gwynfyd Housing Co-Operative,947,592,NaN
144,Henry Burtons Almshouses,951,3001,NaN
145,Letitia Cornwallis Almshouses,952,3001,NaN
146,Abbeyfield Llandeilo,953,3000,NaN
147,Abbeyfield Llanrwst,957,3000,NaN
148,Llewellyn Almshouses,958,3001,NaN
149,Merthyr Tydfil Housing Association,960,592,NaN
150,Mid Wales Housing Association,961,592,NaN
151,North Wales Housing Association,967,592,NaN
152,Pembrokeshire Housing Association,969,592,NaN
153,Polish Housing Society,970,592,NaN
154,Rachel Herbert Almshouses,974,3001,NaN
155,Roger Williams and Queen Victoria Memorial Alm...,977,3001,NaN
156,Ruabon Almshouse,978,3001,NaN
157,Soroptimist Housing Association (Carmarthen),981,592,NaN
158,St David's Diocesan Housing Association,986,592,NaN
159,Taff Housing Association,989,592,NaN
160,Tai Charles Jones,990,3001,NaN
161,The Goodman and Ruthin Charity,991,3001,NaN
162,United Welsh Housing Association,994,592,NaN
163,Wales and West Housing,995,592,NaN
164,Abbeyfield Wrexham,996,3000,NaN
165,Abbeyfield Total,3000,592,NaN
166,Almshouse total,3001,592,NaN

'availability'

                        Label Notation Parent Notation  Sort Priority
87      Available for letting        1               3            NaN
88  Not available for letting        2               3            NaN
89                      Total        3                            NaN

'durations'

                             Label Notation Parent Notation  Sort Priority
173  Vacant for less than 6 months        1               3            NaN
174    Vacant for 6 months or more        2               3            NaN
175                          Total        3                            NaN

In [7]:
table['Period'] = table['Period'].map(lambda x: f'gregorian-interval/{str(x)[:4]}-03-31T00:00:00/P1Y')
table['Vacancy type'] = table['Vacancy type'].map(lambda x: str(int(x)) if str(x).endswith(".0") else str(x))
table['Vacancy length'] = table['Vacancy length'].map({
    1: 'less-than-6-months',
    2: '6-months-or-more',
    3: 'total'}.get)
table['Measure Type'] = 'Count'
table['Unit'] = 'vacancies'

In [8]:
table.drop_duplicates().to_csv(out / 'observations.csv', index = False)

In [9]:
schema = CSVWSchema('https://ons-opendata.github.io/ref_housing/')
schema.create(out / 'observations.csv', out / 'observations.csv-schema.json')

In [10]:
from datetime import datetime
scraper.dataset.family = 'housing'
scraper.dataset.theme = THEME['housing-planning-local-services']
scraper.dataset.modified = datetime.now()
scraper.dataset.creator = scraper.dataset.publisher
with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())

In [11]:
table

,Geography,Availability,Value,Vacancy length,Provider,Vacancy type,Period,Measure Type,Unit
0,W06000016,1,-1,less-than-6-months,540,6,gregorian-interval/2005-03-31T00:00:00/P1Y,Count,vacancies
1,W06000021,1,-2,less-than-6-months,548,6,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,vacancies
2,W06000022,2,-8,less-than-6-months,550,6,gregorian-interval/2005-03-31T00:00:00/P1Y,Count,vacancies
3,W06000004,1,-999,6-months-or-more,518,6,gregorian-interval/2005-03-31T00:00:00/P1Y,Count,vacancies
4,W06000013,2,-999,6-months-or-more,536,6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
5,W06000013,1,-999,6-months-or-more,536,6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
6,W06000013,2,-999,less-than-6-months,536,6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
7,W06000013,1,-999,less-than-6-months,536,6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
8,W06000013,1,-999,less-than-6-months,536,6,gregorian-interval/2006-03-31T00:00:00/P1Y,Count,vacancies
9,W06000013,2,-999,less-than-6-months,536,6,gregorian-interval/2006-03-31T00:00:00/P1Y,Count,vacancies
10,W06000013,2,-999,6-months-or-more,536,6,gregorian-interval/2006-03-31T00:00:00/P1Y,Count,vacancies
11,W06000013,1,-999,6-months-or-more,536,6,gregorian-interval/2006-03-31T00:00:00/P1Y,Count,vacancies
12,W06000013,2,-999,6-months-or-more,536,6,gregorian-interval/2005-03-31T00:00:00/P1Y,Count,vacancies
13,W06000013,1,-999,less-than-6-months,536,6,gregorian-interval/2005-03-31T00:00:00/P1Y,Count,vacancies
14,W06000013,2,-999,less-than-6-months,536,6,gregorian-interval/2005-03-31T00:00:00/P1Y,Count,vacancies
15,W06000013,1,-999,6-months-or-more,536,6,gregorian-interval/2005-03-31T00:00:00/P1Y,Count,vacancies
16,W06000016,2,-999,6-months-or-more,540,6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
17,W06000016,1,-999,6-months-or-more,540,6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
18,W06000016,2,-999,less-than-6-months,540,6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
19,W06000016,1,-999,less-than-6-months,540,6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
20,W06000019,1,-999,6-months-or-more,545,6,gregorian-interval/2005-03-31T00:00:00/P1Y,Count,vacancies
21,W06000020,1,-999,6-months-or-more,546,6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
22,W06000020,2,-999,6-months-or-more,546,6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
23,W06000020,1,-999,less-than-6-months,546,6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
24,W06000020,2,-999,less-than-6-months,546,6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
25,W06000021,2,-999,6-months-or-more,548,6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
26,W06000021,2,-999,less-than-6-months,548,6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
27,W06000021,1,-999,less-than-6-months,548,6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
28,W06000021,1,-999,6-months-or-more,548,6,gregorian-interval/2007-03-31T00:00:00/P1Y,Count,vacancies
29,W06000001,3,0,less-than-6-months,512,2.2,gregorian-interval/2014-03-31T00:00:00/P1Y,Count,vacancies
...,...,...,...,...,...,...,...,...,...
271875,W06000013,3,99,total,600,5,gregorian-interval/2017-03-31T00:00:00/P1Y,Count,vacancies
271876,W06000019,3,99,6-months-or-more,600,5,gregorian-interval/2011-03-31T00:00:00/P1Y,Count,vacancies
271877,W06000019,3,99,total,600,2.1,gregorian-interval/2011-03-31T00:00:00/P1Y,Count,vacancies
271878,W06000019,3,99,6-months-or-more,600,6,gregorian-interval/2011-03-31T00:00:00/P1Y,Count,vacancies
271879,W06000016,2,99,6-months-or-more,600,2,gregorian-interval/2011-03-31T00:00:00/P1Y,Count,vacancies
271880,W06000016,2,99,6-months-or-more,600,2.1,gregorian-interval/2011-03-31T00:00:00/P1Y,Count,vacancies
271881,W06000012,1,99,less-than-6-months,600,5,gregorian-interval/2009-03-31T00:00:00/P1Y,Count,vacancies
271882,W06000014,1,99,total,600,6,gregorian-interval/2009-03-31T00:00:00/P1Y,Count,vacancies
271883,W06000012,1,99,total,600,1,gregorian-interval/2009-03-31T00:00:00/P1Y,Count,vacancies
271884,W92000004,3,99,total,940,6,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,vacancies
271885,W06000011,3,99,total,940,6,gregorian-interval/2001-03-31T00:00:00/P1Y,Count,vacancies
271886,W92000004,3,99,less-than-6-months,940,6,gregorian-interval/2015-03-31T00:00:00/P1Y,Count,vacancies
271887,W92000004,3,99,total,995,6,gregorian-interval/2014-03-31T00:00:00/P1Y,Count,vacancies
271888,W92000004,3,99,total,995,5,gregorian-interval/2014-03-31T00:00:00/P1Y,Count,vacancies
271889,W92000004,3,99,less-than-6-months,1021,5,gregorian-interval/2011-03-31T00:00:00/P1Y,Count,vacancies
271890,W92000004,3,99,less-than-6-months,1021,6,gregorian-interval/2011-03-31T00:00:00/P1Y,Count,vacancies
271891,W06000016,3,99,less-than-6-months,1021,6,gregorian-interval/2011-03-31T00:00:00/P1Y,Count,vacancies
271892,W06000016,3,99,less-than-6-months,1021,5,gregorian-interval/2011-03-31T00:00:00/P1Y,Count,vacancies
271893,W92000004,1,99,total,1027,6,gregorian-interval/2013-03-31T00:00:00/P1Y,Count,vacancies
271894,W06000022,1,99,total,1027,6,gregorian-interval/2013-03-31T00:00:00/P1Y,Count,vacancies
271895,W92000004,3,99,total,1027,1,gregorian-interval/2015-03-31T00:00:00/P1Y,Count,vacancies
271896,W06000022,3,99,total,1027,1,gregorian-interval/2015-03-31T00:00:00/P1Y,Count,vacancies
271897,W92000004,2,99,6-months-or-more,1032,5,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,vacancies
271898,W06000012,2,99,6-months-or-more,1032,5,gregorian-interval/2016-03-31T00:00:00/P1Y,Count,vacancies
271899,W06000016,3,991,total,600,6,gregorian-interval/2003-03-31T00:00:00/P1Y,Count,vacancies
271900,W92000004,1,992,total,592,1,gregorian-interval/2015-03-31T00:00:00/P1Y,Count,vacancies
271901,W92000004,2,994,less-than-6-months,600,1,gregorian-interval/2014-03-31T00:00:00/P1Y,Count,vacancies
271902,W92000004,2,994,less-than-6-months,600,6,gregorian-interval/2012-03-31T00:00:00/P1Y,Count,vacancies
271903,W92000004,2,996,less-than-6-months,600,1,gregorian-interval/2017-03-31T00:00:00/P1Y,Count,vacancies
271904,W92000004,2,998,total,592,6,gregorian-interval/2013-03-31T00:00:00/P1Y,Count,vacancies